/* Stylesheet*/
/* General indentation. */
.indent
{
    margin-left: 200pt;
    margin-right: 200pt;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
}
h1
{
    margin-left: 200pt;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    font-family: Futura pt, sans-serif;
}
h4
{
    margin-left: 200pt;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    font-family: Futura pt, sans-serif;
}
p
{
    margin-left: 200pt;
    margin-right: 200pt;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    font-family: Futura pt, sans-serif;
}
/* Indents an image. */
.indent_img
{
    margin-top: 20px;
    margin-left: 134pt;
    margin-right: 0pt;
    border: 2px solid #5B829D;
    border-radius: 8px;
}
body
{
    color: black;
    background-color: #E9F8FF;
    font-family: Futura pt, sans-serif;
}
/* Solid border. */
hr.solid
{
    margin-left: 200pt;
    margin-right: 200pt;
    border-top: 3px solid #C0C0C0;
    border-radius: 5px;
}
